.panel {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
}

.bio-graph-heading {
    background-color: #e8ced6;
    color: black;
    text-align: center;
    /* font-style: italic; */
    padding: 40px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 16px;
    font-weight: 300;
}

.bio-graph-info {
    color: #89817e;
    margin-top: 20px;
}

.bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
}
