*, *:before, *:after {
    box-sizing: border-box;
  }
    h1 {
    text-align: center;
    background-color: paleturquoise;
    border-radius: 15px;
    }
  .SignUpForm {
     background-color: lavenderblush;
     height: 100%;
     width: 100%;
     padding-left: 20%;
     padding-right:20%;
     padding-top: 5%;
     padding-bottom: 5%;
    
  }

  .form-label {
      color: rgb(1, 7, 8);
  }

  .FamilyButton.btn.btn.btn-secondary {
    float:right;
    background-color: paleturquoise;
    border-color: paleturquoise;
    color: black;
  }

  